.hero-carousel {
  position: relative;
  transition: transform 0.5s ease-in-out; 
}
.hero .slick-list {
  overflow: hidden;
}


.hero .slick-slide {
  position: relative;
}

.hero .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-slide {
  width: 100%;
  height: 87.5vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero {
  position: relative;
}


.hero h1 {
  color: var(--primary);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: 6pc;
}

.hero .hero-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width : 992px) {
  .hero-content{
    top: 20px;
  }

  .hero h1 {
    font-size: 4pc;
  }
}
