.post-card-wrapper {
  height: 100%;
}

.post-card-img {
  display: flex;
  justify-content: center;
  margin-top: 4pc;
  gap: 2pc;
}

.post-card-box {
  width: calc(20% - 1pc); 
  height: 500px;
  margin-left: 20px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--shadows);
}

.post-card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
