@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
	--primary: #ffffff;
	--secondary: #06610c;
	--accent: #9B9109;
	--black: #000000;
  --shadows: #AAAA33;
  --grey: #555;
  --subtitle-font-name: "Island Moments", cursive;
}

/* @font-face {
	font-family: 'Liberation Serif';
	src: url('/src/fonts/arial-narrow/Arial Narrow.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */