@keyframes fadeInOut {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeInOut 1s ;
    animation-timing-function: ease-in-out;
  }
  
  .not-found h1 {
    font-size: 48px;
    color: var(--secondary);
  }
  
  .not-found p {
    font-size: 24px;
    color: var(--grey);
    margin-bottom: 30px;
  }
  
  .not-found a {
    color: var(--accent);
    text-decoration: none;
    font-size: 18px;
  }
  
  .not-found a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styles for 992px */
  
  @media screen and (max-width: 992px) {
    .not-found h1 {
      font-size: 40px;
      text-align: center;
    }
  
    .not-found p {
      font-size: 20px;
      margin: 0.5pc;
      text-align: center;
    }
  
    .not-found a {
      font-size: 18px;
    }
  }
  